<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <!-- MENU-AT-RESOURCES -->
                {{> menu-at-resources }}
                <!-- MENU-AT-RESOURCES -->
            </div>
        </nav>

        <!-- DASHBOARD -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Backlog</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <table style="width: 100%">
                <tr>
                    <td style="text-align: left;">
                        <!-- CURRENT SPRINT -->
                        <div class="container">
                            <h5>Next Sprint</h5>
                            <ul id="sortable1" class="list-group connectedSortable">
                                <li class="list-group-item active w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25" data-toggle="modal" data-target="#staticBackdropStory">Task AT-001</a>
                                    <span class="w-75">
                                        <span class="badge badge-primary badge-pill" title="Task">Task</span>
                                        UI mocks for AT University
                                    </span>
                                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">8</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-002</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC UN-013 Implement capability of update courses on at-university-api
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">5</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-003</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC RE-009 Implement Orika Mapper on at-resources-api
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">3</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-004</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC Consume AT-UNIVERSITY - COURSE endpoint
                                    </span>
                                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">1</span>
                                </li>
                            </ul>
                        </div><br>
                        <!-- CURRENT SPRINT -->

                        <!-- CURRENT SPRINT -->
                        <div class="container">
                            <h5>Ready to take</h5>
                            <ul id="sortable2" class="list-group connectedSortable">
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">Task AT-005</a>
                                    <span class="w-75">
                                        <span class="badge badge-primary badge-pill" title="Task">Task</span>
                                        Heroku config
                                    </span>
                                    <span class="badge badge-secondary badge-pill" title="Story Label">Infrastructure</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">1</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-006</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC AT-RSC-UI Admin Module: Story
                                    </span>
                                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">3</span>
                                </li>
                                <li
                                    class="list-group-item list-group-item-secondary w-100 disabled d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-007</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC SSO-003 Implement capability of create and obtain users on at-sso-api
                                        <span class="badge badge-danger badge-pill" title="Disabled">Disabled</span>
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">5</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-008</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC RE-001 Research How Implement Swagger
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">6</span>
                                </li>

                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">Task AT-005</a>
                                    <span class="w-75">
                                        <span class="badge badge-primary badge-pill" title="Task">Task</span>
                                        Heroku config
                                    </span>
                                    <span class="badge badge-secondary badge-pill" title="Story Label">Infrastructure</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">1</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-006</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC AT-RSC-UI Admin Module: Story
                                    </span>
                                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">3</span>
                                </li>
                                <li
                                    class="list-group-item list-group-item-secondary w-100 disabled d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-007</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC SSO-003 Implement capability of create and obtain users on at-sso-api
                                        <span class="badge badge-danger badge-pill" title="Disabled">Disabled</span>
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">5</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-008</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC RE-001 Research How Implement Swagger
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">6</span>
                                </li>

                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">Task AT-005</a>
                                    <span class="w-75">
                                        <span class="badge badge-primary badge-pill" title="Task">Task</span>
                                        Heroku config
                                    </span>
                                    <span class="badge badge-secondary badge-pill" title="Story Label">Infrastructure</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">1</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-006</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC AT-RSC-UI Admin Module: Story
                                    </span>
                                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">3</span>
                                </li>
                                <li
                                    class="list-group-item list-group-item-secondary w-100 disabled d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-007</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC SSO-003 Implement capability of create and obtain users on at-sso-api
                                        <span class="badge badge-danger badge-pill" title="Disabled">Disabled</span>
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">5</span>
                                </li>
                                <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                                    <a href="#" class="w-25">US AT-008</a>
                                    <span class="w-75">
                                        <span class="badge badge-success badge-pill" title="User Story">US</span>
                                        EPIC RE-001 Research How Implement Swagger
                                    </span>
                                    <span class="badge badge-info badge-pill" title="Story Label">Back end</span> &nbsp;
                                    <span class="badge badge-primary badge-pill" title="Story points">6</span>
                                </li>
                            </ul>
                        </div><br>
                        <!-- CURRENT SPRINT -->
                    </td>
                </tr>
            </table>
        </main>
        <!-- DASHBOARD -->
    </div>
</div>

<script type="text/javascript">
    //$("#sortable1").sortable();
    $("#sortable1, #sortable2").sortable({
        connectWith: ".connectedSortable"
    });
</script>

<!-- Modal User Story -->
<div class="modal fade" id="staticBackdropStory" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabelStory" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="vertical-align: middle;">
                <h3 class="modal-title" id="staticBackdropLabelStory" style="font-weight: 400;">
                    EPIC Migrate AT-RSC-UI views from AT UI Mocks <br>
                    <span class="badge badge-warning badge-pill" title="Story Label">Front end</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <section class="my-2">
                    <table style="width: 100%;" cellspacing="10" cellpadding="10">
                        <tr style="vertical-align: top;">
                            <td style="text-align: left;">
                                <h4 style="font-weight: 400;">Details</h3>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: left;">
                                            Type: <span class="badge badge-success badge-pill">US</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Status: <span class="badge badge-warning badge-pill">IN PROGRESS</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Priority: <span class="badge badge-danger badge-pill">High</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Story Points: <span class="badge badge-primary badge-pill">5</span>
                                        </td>
                                    </tr>
                                </table>

                                <br>
                                
                                <h4 style="font-weight: 400;">Description</h3>
                                <div class="form-group">
                                    <textarea id="description" name="description" style="width: 400px;" rows="10" cols="20" class="form-control">
**ACCEPTANCE CRITERIA**
Migrate views to AT-RSC-UI project from at-ui-mocks repository:
Reference: https://github.com/at-internship/at-ui-mocks

- CONTROLLERS
- general controller at-resources.controller.js (for dashboard)
- admin.controller.js
                                    </textarea>
                                </div>

                                <h4 style="font-weight: 400;">Task</h3>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: left;">
                                            Task AT-001: UI mocks for AT University
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Task AT-002: Heroku config
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="text-align: left;">
                                <h4 style="font-weight: 400;">Members</h3>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: left;">
                                            Assignee: Joseph S.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Reporter: Miguel H.
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <h4 style="font-weight: 400;">Dates</h3>
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: left;">
                                            Created: 2020-12-01
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Updated: 2020-12-02
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Due date: 2020-12-15
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </section>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary rounded">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal User Story -->