

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <!-- MENU-AT-RESOURCES -->
                {{> menu-at-resources }}
                <!-- MENU-AT-RESOURCES -->
            </div>
        </nav>

        <!-- DASHBOARD -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <table style="width: 100%">
                <tr>
                    <td style="text-align: left;">
                        <!-- MY TASK -->
                        <div class="container">
                            <div class="row my-3">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body scroll-wrapper-div" id="dashboard-task" >
                                            {{!-- Task List --}}
                                            <table id="#storiesTaskTable" style="width: 100%">
                                                <tr>
                                                    <td>
                                                        <div class="box">
                                                            <div class="col-md"></div>
                                                            <div class="card-hover-shadow-2x mb-3 card">
                                                                <div class="card-header-tab card-header">
                                                                    <div
                                                                        class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                                                        <i class="fa fa-tasks"></i>&nbsp;Task Lists
                                                                    </div>
                                                                </div>
                                                                <div class="scroll-area-sm">
                                                                    <perfect-scrollbar class="ps-show-limits">
                                                                        {{#each storyTask}}
                                                                            <div style="position: static;" class="ps ps--active-y">
                                                                                <div class="ps-content">
                                                                                    <ul class=" list-group list-group-flush">
                                                                                        <li class="list-group-item">
                                                                                            <div class="todo-indicator bg-warning">
                                                                                            </div>
                                                                                            <div class="widget-content p-0">
                                                                                                <div class="widget-content-wrapper">
                                                                                                    <div class="widget-content-left mr-2">
                                                                                                        <div class="custom-checkbox custom-control">
                                                                                                            <input class="custom-control-input"
                                                                                                                id="exampleCustomCheckbox{{id}}"
                                                                                                                type="checkbox">
                                                                                                            <label class="custom-control-label"
                                                                                                                for="exampleCustomCheckbox{{id}}">&nbsp;
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="widget-content-left">
                                                                                                        <div class="widget-heading">
                                                                                                            {{name}}
                                                                                                            <div class="badge badge-danger ml-2">
                                                                                                                High</div>
                                                                                                        </div>
                                                                                                        <div class="widget-subheading">
                                                                                                            <i>{{description}}</i>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="widget-content-right">
                                                                                                        <button
                                                                                                            class="border-0 btn-transition btn btn-outline-success">
                                                                                                            <i class="fa fa-check"></i>
                                                                                                        </button>
                                                                                                        <button
                                                                                                            class="border-0 btn-transition btn btn-outline-danger">
                                                                                                            <i class="fa fa-trash"></i>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        {{/each}}
                                                                    </perfect-scrollbar>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#storiesTaskTable').DataTable();
                                                });
                                            </script>
                                            {{!--// Task List --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MY TASK -->
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <!-- STATISTICS -->
                        <div class="container">
                            <div class="row my-2">
                                <div class="col">
                                    <h5>Sprint Velocity</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chLine" style="max-width: 800px;" height="70"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row py-2">
                                <div class="col">
                                    <h5>User Stories by Sprint</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chDonut1" style="max-width: 300px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5>Tasks by Sprint</h5>
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chDonut2" style="max-width: 300px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- STATISTICS -->
                    </td>
                </tr>
            </table>
        </main>
        <!-- DASHBOARD -->
    </div>
</div>

<script src="/js/chart.min.js" type="text/javascript"></script>
<script src="/js/at-resources-chart.js" type="text/javascript"></script>