<div class="row justify-content-center mt-5">
    <div class="col-md-4 my-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>New Story</h3>
                <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
                <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css">
                <!-- FONT AWESOME -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                    crossorigin="anonymous">
            </div>

            <div class="card-body">
                <form class="form-horizontal" action="/admin/story/add" method="POST">
                    <div class="form-group">
                        <label for="category">SELECT SPRINT</label>
                        <select required class="form-control" name="category" id="category">
                            <option value="co">Choose an option</option>
                            <option value="Sprint1">Sprint 1</option>
                            <option value="Sprint2">Sprint 2</option>
                            <option value="Sprint3">Sprint 3</option>
                            <option value="Sprint4">Sprint 4</option>
                            <option value="Sprint5">Sprint 5</option>
                            <option value="Sprint6">Sprint 6</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-body">
                <form class="form-horizontal" action="/admin/story/add" method="POST">
                    <div class="form-group">
                        <label for="category">SELECT USER</label>
                        <select required class="form-control" name="category" id="category">
                            <option value="co">Choose an option</option>
                            <option value="u1">User 1</option>
                            <option value="u2">User 2</option>
                            <option value="u3">User 3</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-body">
                <form class="form-horizontal" action="/admin/story/add" method="POST">
                    <div class="form-group">
                        <label for="category">SELECT PRIORITY</label>
                        <select required class="form-control" name="category" id="category">
                            <option value="co">Choose an option</option>
                            <option value="high">High</option>
                            <option value="medium">Medium</option>
                            <option value="low">Low</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <input type="text" name="name" required class="form-control" placeholder="Name" autofocus />
                </div>

                <div class="form-group">
                    <textarea name="description" required class="form-control" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                    <textarea name="ac" required class="form-control" placeholder="Aceptance Criteria"></textarea>
                </div>

            </div>

            <div class="card-body">
                <form class="form-horizontal" action="/admin/story/add" method="POST">
                    <div class="form-group">
                        <label for="category">STORY POINTS</label>
                        <select required class="form-control" name="category" id="category">
                            <option value="co">Choose an option</option>
                            <option value="one">1</option>
                            <option value="three">3</option>
                            <option value="five">5</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-body">
                <label for="start">Start Date:</label>

                <input type="date" id="start" name="trip-start" value="2020-01-01" min="2015-01-01" max="2040-12-31">

                <br>
                <br>

                <label for="start">Due Date:</label>

                <input type="date" id="start" name="trip-start" value="2020-01-01" min="2015-01-01" max="2040-12-31">

                <br>
                <br>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>