<div class="row justify-content-center mt-5">
    <div class="col-md-4 my-auto">

        {{#each storyErrors}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/each}}

        <div class="card text-left">
            <div class="card-header">
                <h3>New Story</h3>
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="/admin/story/add" method="POST">
                    <div class="form-group">
                        <label for="story_sprintId">SELECT SPRINT</label>
                        <select required class="form-control" name="story_sprintId" id="story_sprintId">
                            <option value="">Choose an option</option>
                            <option value="5fb42492a62def1daaa62a27">Sprint 1</option>
                            <option value="5fb42492a62def1daaa62a28">Sprint 2</option>
                            <option value="5fb42492a62def1daaa62a29">Sprint 3</option>
                            <option value="5fb42492a62def1daaa62a30">Sprint 4</option>
                            <option value="5fb42492a62def1daaa62a31">Sprint 5</option>
                            <option value="5fb42492a62def1daaa62a32">Sprint 6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="story_userId">SELECT USER</label>
                        <select required class="form-control" name="story_userId" id="story_userId">
                            <option value="">Choose an option</option>
                            <option value="5fb42492a62def1daaa62a27">User 1</option>
                            <option value="5fb42492a62def1daaa62a28">User 2</option>
                            <option value="5fb42492a62def1daaa62a29">User 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="story_priority">SELECT PRIORITY</label>
                        <select required class="form-control" name="story_priority" id="story_priority">
                            <option value="">Choose an option</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="story_name" name="story_name" required class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <textarea id="story_description" name="story_description" required class="form-control"
                            placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea id="story_acceptanceCriteria" name="story_acceptanceCriteria" required class="form-control"
                            placeholder="Aceptance Criteria"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="story_storyPoints">STORY POINTS</label>
                        <select required class="form-control" name="story_storyPoints" id="story_storyPoints">
                            <option value="">Choose an option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="story_progress" name="story_progress" required class="form-control"
                            placeholder="Progress" />
                    </div>
                    <div class="form-group">
                        <label for="story_startDate">Start Date:</label>
                        <input type="date" id="story_startDate" name="story_startDate" value="2020-01-01" min="2015-01-01"
                            max="2040-12-31" />
                    </div>
                    <div class="form-group">
                        <label for="story_dueDate">Due Date:</label>
                        <input type="date" id="story_dueDate" name="story_dueDate" value="2020-01-01" min="2015-01-01"
                            max="2040-12-31" />
                    </div>
                    <div class="form-group">
                        <label for="story_status">Status:</label>
                        <select name="story_status" id="story_status" class="form-control">
                            <option value="">- select -</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>