<div class="row justify-content-center mt-5">
    <div class="col-md-4 my-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>New Story</h3>
                <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
                <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css">
                <!-- FONT AWESOME -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                    crossorigin="anonymous">
            </div>
            <div class="form-group">
                <input type="text" name="title" required class="form-control" placeholder="Title" autofocus />
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="/admin/course/add" method="POST">
                    <div class="form-group">
                        <label for="category">Select sprint:</label>
                        <select required class="form-control" name="category" id="category">
                            <option value="Sprint 1">Sprint 1</option>
                            <option value="Sprint 2">Sprint 2</option>
                            <option value="Sprint 3">Sprint 3</option>
                            <option value="Sprint 4">Sprint 4</option>
                            <option value="Sprint 5">Sprint 5</option>
                            <option value="Sprint 6">Sprint 6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="description" required class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" action="/admin/course/add" method="POST">
                            <div class="form-group">
                                <label for="category">Select sprint:</label>
                                <select required class="form-control" name="category" id="category">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>