<div class="col-md-4 mx-auto">

    {{#each userErrors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}

    <div class="card text-left">
        <div class="card-header">
            <h3>Edit Story</h3>
        </div>
        <div class="card-body">
            <!--<form action="/admin/story/edit/{{user._id}}?_method=PUT" method="POST">-->
            <form action="/admin/story/edit/5f6c27a8d2b353a9147b78d0?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="priority">Priority:</label>
                    <select name="priority" id="priority" class="form-control">
                        <option value="">- select - </option>
                        <option value="1">1 - High</option>
                        <option value="2">2 - Medium</option>
                        <option value="3">3 - Low</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Type the Name" autofocus />
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="Type the Description" />
                </div>
                <div class="form-group">
                    <label for="aceptance_criteria">Aceptance criteria:</label>
                    <input type="text" name="aceptance_criteria" id="aceptance_criteria" class="form-control" placeholder="Type the Aceptance Criteria" />
                </div>
                <div class="form-group">
                    <label for="story_points">Story Points:</label>
                    <select name="story_points" id="story_points" class="form-control">
                        <option value="">- select - </option>
                        <option value="1">1</option>
                        <option value="2">3</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="progress">Progress:</label>
                    <input type="number" name="progress" id="progress" class="form-control" placeholder="Type the Progress" />
                </div>  
                <div class="form-group">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" value="aaaa-mm-dd" min="2018-01-01" max="2021-12-31">
                </div>       
                <div class="form-group">
                    <label for="start_date">Due Date:</label>
                    <input type="date" id="due_date" name="due_date" value="aaaa-mm-dd" min="2018-01-01" max="2021-12-31">
                </div>
                <div class="form-group">
                    <label for="start_date">Create Date:</label>
                    <input type="date" id="create_date" name="create_date" value="aaaa-mm-dd" min="2018-01-01" max="2021-12-31">
                </div>
                <div class="form-group">
                    <label for="story_points">Status:</label>
                    <select name="story_points" id="story_points" class="form-control">
                        <option value="">- select - </option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>